
	#headermenu {
	    background-image: url('images/top1.png');
		height: 180px;
       	background-size: 100%;
	}	

	header {
	    background-image: url('images/header.png');
		height: 75px;
       	background-size: 70%;
	}	

	body {
	    font-size: 16px;
	}

	label {
	    font-size: 16px;
	}

	select {
	    font-size: 14px;
	    width: 214px;
	    height: 23px;
	}

	footer {
		font-size: 16px;
	    height:50px;
	    color:blue;
	    border-top-width: 1px;
	    border-top-style: solid;
	    border-top-color: blue;
	}

	#header2 {
	    background-color: lightblue;
	}

	button {
	  	display: inline-block;
		width: 210px;
		height: 32px;
		font-size: 18px;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		outline: none;
		color: #fff;
		background-color: blue;
		border: none;
		border-radius: 10px;
	}

	button:hover {
		background-color: #02116F
	}

	button:active {
	  background-color: #02116F;
	  transform: translateY(4px);
	}

	#prueba {
	    background-color: blue; /* Green */
	    border: none;
	    color: white;
	    width: 50px;
	    height: 50px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 30px;
	}

	#agregar {
	    background-color: blue;
	    width: 32px;
	    height: 32px;
	    font-size: 23px;
	}

	#minibtn {
	    background-color: red;
		width: 100px;
	}

	#largebtn {
		width: 310px;
		height: 32px;
	}

	#menubtn {
		width: 109px;
		height: 40px;
		border-radius: 0px;
	    font-size: 12px;
	}

	#subbtn {
	    background-color: #0040FF;
		width: 150px;
		border-radius: 0px;
	    font-size: 12px;
	}


	input {
	    width: 210px;
	    height: 20px;
	    font-size: 14px;
	}

	input[type="checkbox"]{ 
		width: 18px;
	    height: 18px; 
		line-height: 28px; 
	}

	input[type="file"]{ 
		width: 300px;
	    height: 23px; 
		line-height: 28px; 
	}